{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

{% if site.minimal_mistakes_skin2 %}
<link id="theme_source" rel="stylesheet" href="{{ base_path }}/assets/css/skins/default.css" media="(prefers-color-scheme: light)">
<link id="theme_source_2" rel="stylesheet alternate" href="{{ base_path }}/assets/css/skins/dark.css" media="(prefers-color-scheme: dark)">
{% endif %}

<meta http-equiv="cleartype" content="on">